name: Test on PostgreSQL

on: [ push ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        operating_system: ['ubuntu-22.04']
        postgresql-version: [10, 11, 12, 13, 14, 15, 16, 17, 18]
        php_versions:
          - '8.4'

    runs-on: '${{ matrix.operating_system }}'

    steps:
      - uses: actions/checkout@v4

      - name: Install PostgreSQL
        env:
          POSTGRESQL_VERSION: ${{ matrix.postgresql-version }}
        run: |
          sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
          wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          sudo apt-get update
          sudo apt-get -y install "postgresql-$POSTGRESQL_VERSION"
          sudo service postgresql start

      - name: Set up PostgreSQL
        run: |
          sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD '12345';"
          sudo -u postgres psql -c "CREATE DATABASE s2_rose_test OWNER postgres;"

      - name: 'Setup PHP'
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php_versions }}

      - name: Install dependencies
        run: COMPOSER_MEMORY_LIMIT=-1 composer install --prefer-dist --no-interaction

      - name: Prepare config
        run: cp tests/config.php.dist.postgres tests/config.php

      - name: Run test cases
        run: php bin/codecept run --skip-group profile

      - name: Run profiling
        if: success() || failure()
        run: php bin/codecept run -g profile -d